html {
	height:100%;
}
a{
  color:#555;
}

body{
/*background-color:#ffffff;*/
height:100%;
background-image:url(../images/body_pattrns.png);
background-repeat:repeat;
color:#666666;
font-family: 'Open Sans', sans-serif;
}
.social_icons{
   padding:20px;
}
.banner_padding {
	padding-left:0px;
	padding-right:0px;
}
#wrapper {
    min-height:100%;
	padding-bottom:25px;
	margin-bottom:-77px;
}
#wrapper:after {
    content: "";
    display: block;
}
.footer, #wrapper:after {
	height:77px;
}
.footer{
	background-color:#0f0f0f;
	border-top:4px solid #ef5323;
}

.thumbnail{
	padding:0px;
	border:none;
	border-radius:0px;
	margin-bottom:0px;
}

.event_name{
/*width:262.5px;*/
width: 100%;  /*changed for responsive*/
height: 50px;
background: rgba(0, 0, 0, 0.8);
}
.event_name p{
color:#fff;
font-size:18px;
padding:12px;
}
.event_details{
 /*width:262.5px;*/
width: 100%;  /*changed for responsive*/
height: 70px;
overflow:hidden;
background: #fff;
border: 1px solid #cfcfcf;
padding:4px 4px;
}
.event_date{
font-size: 12px;
color: #555;
font-style: italic;
margin: 6px;	
}
.event_place{
 font-size: 12px;
color: #555;
margin: 6px;
margin-top:5px;	
}
.event_margin{
 margin-top:20px;
}
.btn-createevent {
 width:300px;
 border-radius:30px;
 -moz-border-radius:30px;
 -webkit-border-radius:30px;
 height:50px;
 background-color:#8bd92f;
 border:1px solid #4cae4c;
 margin:0 auto;
 padding:10px;
 text-decoration: none;
color: #fff !important;
font-size: 20px;
display:block;
text-transform:uppercase;
outline:none;
}
.btn-createevent:hover {
background-color: #449d44;
  border-color: #398439;
  text-decoration:none;
}

.create_event{
 text-align:center;
}
.btn_orange a{
	text-decoration:none;
	color:#fff !important;
	font-size:20px;
}
.title_trending{
}
.title_bg{
	/*border:1px dotted #555;*/
}
.title_name{
font-size: 24px;
color: #555;
text-align: center;
margin: 20px auto;

}
.navbar-default_2{
	background-color:#fff;
	margin-top:-20px;
	border-bottom: 1px solid #cfcfcf;
}

.navbar-default{
	border-top: 6px solid #edb311;
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:68px;
	background-image:url(../images/menu_bg.png);
	//background-color:#c72a3a;
}
.navbar{
	border:none;
    border-top: 3px solid #f3ec60;
	border-radius:0px;
}

.navbar-brand{
    padding:6px 15px;
}

.bg_img{
	width:28px;
	height:28px;
	background-color:#ffffff;
	border-radius:14px;
	border:2px solid #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color:#fff;
  background-color: transparent;
  
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color:#fff;
  background-color: transparent;
}
/*.modal-content{
   border-radius:0px;
   background-color:rgba(0,0,0,.9);
   top:50px;
   opacity:0.9;

}*/
.modal_darktheme {
   background-color:rgba(0,0,0,.9);
   opacity:0.9;
}
.main-nav > li > a {
 border-bottom:2px solid transparent;
 transition:border-bottom ease-in 1s;
 }
 
.main-nav > li > a:hover,
.main-nav > li > a:focus {
 
color: #bc3804 !important;
background-color:transparent;
border-bottom:2px solid #bc3804;
}
.main-nav > .active > a,
.main-nav > .active > a:hover,
.main-nav > .active > a:focus {

 color: #bc3804 !important;
 border-bottom:2px solid #bc3804;
}

.top-nav > li > a {
 transition:border-bottom ease-in 1s;
}
 
.top-nav > li > a:hover,
.top-nav > li > a:focus {
 
color: #ffffff !important;
background-color:transparent;
border:none;

}
.top-nav > .active > a,
.top-nav > .active > a:hover,
.top-nav > .active > a:focus {

 color: #333333 !important;
border:none;
}

.modal-title{
	color:#fff;
}
.modal-header{
  border-bottom:none;
}
#wrapper .modal-footer{
	border-top:none;
}
.modal-body a{
	text-decoration:none;
	color:#fff;
}
.modal_box_x{
	color:#fff;
	margin: 6px;
}

label{
	color:#fff;
	font-weight:normal;
}
.btn{
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
.btn-primary{
	background-color:#F7838E;
	border-color:#D37079;
}
.btn-primary{
	color:#FFFFFF !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #DA515D;
  border-color: #CB4B56;
}
.modal-body .form-control{
	background-color:transparent;
	border:1px solid #fff;
	border-radius:0px;
	color:#ffffff;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
.form-control{
	background-color:#FFFFFF;
	border:1px solid #bbbbbb;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	color:#000000;
}
.modal_wishlist_bg .form-control {
	background-color:#FFFFFF;
	border:1px solid #bbbbbb;
	border-radius:0px;
	color:#000000;}

.reset_modal{
	width:324px;
	margin:0 auto;
}
.reset_top{
	top:25px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  font-size:18px;
}
.create_event_bg{
	min-height:580px;
	overflow:hidden;
	padding-bottom:20px;
	padding-top:20px;
}
.event_tab_active{
	background-color:#8bd92f;
	width:90px;
	height:90px;
	border-radius:45px;
	padding: 26px;
    padding-left: 33px;
    font-size: 30px;
	color:#fff;
	margin:0 auto;
	
}
.event_tab{
	background:#cecfd0;
	width:90px;
	height:90px;
	border-radius:45px;
	padding: 26px;
    padding-left: 32px;
    font-size: 30px;
	margin:0 auto;
	
}
.event_tab_title{
	text-align:center;
	margin:0 auto;
	
}
.event_divider{
	width:4px;
	height:70px;
	background:#cecfd0;
	margin-left:43px;
	margin:0 auto;
	border-bottom:10px solid #f1f2f7;
	
}
.event_left_block{
	border-right:1px solid #cecfd0;
	min-height: 540px;
	overflow:hidden; 
}
.event_right_block{
    min-height: 540px;
	overflow:hidden;  
}

.event_left_block label{
	color:#000;
	margin-top:10px;
}
.event_left_block input{
	border:1px solid #ccc;
}
.event_left_block select{
	border:1px solid #ccc;
}
.event_left_block textarea{
	border:1px solid #ccc;
	resize:none;
}
.upload_btn{
	padding:98px;
	text-align:center;
}
.upload_btn span{
	font-size:50px;
	line-height: 1.5em;
}
.upload_btn_skip{
}
.photos_block{
	height:430px;
}
.upload_btn_done{

}
#create_form{
  display:block;
}
#upload_photos{
	display:block;
}
#confirm_wishlist_invitation {
	display:block}

#invitation_without_wishlist{
	display:block;
}
#invitation_with_wishlist{
	display:block;
}

.inv_wishlist{
	border: 1px solid #ccc;
    width: 444px;
    margin: 0px;
}
.inv_wislist_right{
	height:440px;
	overflow:auto;
}
.inv_addmore h4{
	position:relative;
	top:20px;
	left:44px;
}
.create_wishlist_btn{
	width: 200px;
    margin: 0 auto;
}
.wishlist_text{
}
.wishlist_text h4{
    text-align:center;
	line-height:1em;
	
}
.invite_btn_cancel{
}
.wishlist_header{
	margin-top:20px;
}
.wishlist_header input{
	border:1px solid #ccc;
	background:#fff;
	
}
.addwishlist_btn{
}
.search_btn{
	right: 21px;
    top: 7px;
	background-color:transparent;
	border:none;
}
.search_btn_count{
	width:40px;
	height:28px;
	background-color:#ffffff;
	border-radius:12px;
	border:2px solid #ffffff;
	top: 3px;
	left:20px;
}
.search_btn_count p{
	color:#000;
	padding-top:2px;
	font-weight:bold;
	
}

.position_rel{
	position:relative;	
}
.position_abs{
	position:absolute;
}
.modal_wishlist_bg{
	background-color:#fff;
}
.modal_wishlist_x{
	color:#555;
	margin:6px;
}
.filter{
	background:#fff;
}
.filter_shop{
	
}
.filter_shop h4{
	font-size:14px;
	font-weight:bold;
    height: 26px;
    padding: 6px;border-bottom: 2px solid #555;
}
.filter_shop ul{
	list-style:none;
	padding-left:8px;
}
.filter_shop ul li {
 padding: 5px 2px;
 border-bottom: 1px solid #eeeeee;
}

.filter_shop ul li input {
margin-right: 4px;
}
.products_list img{
	width:140px;
	padding-top:20px;
}
.products_list a{
	text-decoration:none;
}

.product_block{
	background:#fff;
	text-align:center;
	border:1px solid #cfcfcf;
	height:300px;
}

.product_block h4{
	padding-top:12px;
}
.product_block p{
	padding-top:20px;
}
.product_add_btn{
	width:60px;
	height:60px;
	border-radius:30px;
	background:#ef5323;
	position:absolute;
	bottom: -30px;
    left: 115px;
	text-align:center;
}
.product_added_btn{
	width:60px;
	height:60px;
	border-radius:30px;
	background:#8bd92f;
	position:absolute;
	bottom: -30px;
    left: 115px;
	text-align:center;
}
.product_add_btn span{
	font-size:25px;
	top:16px;
	color:#fff;
}
.product_added_btn span{
	font-size:25px;
	top:16px;
	color:#fff;
}
.model_box_name{
font-size: 20px;
color: #555;
background: #fff;
position: relative;
padding: 3px 7px;
text-align: center;
top: -22px;
margin: 0 auto;
width: 225px;
}
.wishlist_popup_header{
	border-bottom:1px solid #bbbbbb;
}
.wishlist_popup_center{
	margin-top:20px;
}
.wishlist_popup_center img{
	width:110px;
	padding:10px;
	background: #fff;
}
.wishlist_popup_center select{
	margin: 10px;
width: 50px;
}
.wishlist_popup_center span{
	color:red;
	margin: 10px;
}
.wishlist_img_block{
text-align:center;
}
.wishlist_popup_footer{
border-top:1px solid #bbbbbb;
margin-top:20px;

}
.wishlist_add_btn{
	width: 40px;
height: 40px;
border-radius: 20px;
background-color: #8bd92f;
text-align:center;
margin-top:20px;
position:absolute;
}
.wishlist_add_btn span{
	color:#fff;
	font-size:20px;
	margin-top:8px;
}
.wishlist_popup_footer h4{
	position: relative;
left: 48px;
top: 22px;
}
.wishlist_popup_footer a{
	color:#555;
}
.addwishlist_done{

}
.shipping_address_form label{
	color:#000;
	line-height:2em;
}
.shipping_address_form input{
	background-color: transparent;
border: 1px solid #ccc;
}
.shipping_address_form select{
	background-color: transparent;
border: 1px solid #ccc;
}
.product_view_big{
	width:350px;
	height:400px;
	background:#fff;
	border:1px solid #ccc;
	text-align:center;
	margin:0 auto;
}   
.product_view_big img{
	margin-top:100px;
}
.product_view_thumb{
	width: 320px;
    margin:0 auto;
}
.product_view_thumb img{
	width:90px;
	margin-top: 12px;
	border:1px solid #ccc;
}
.product_details h4{
	color:#bc3804;
}
	
.add_qty_btn{
}
.nav-tabs {
  border-bottom: 3px solid #edb311;
}
.nav-tabs > li { /*26/12/2014*/
  float: left;
  margin-bottom: -1px;
  background-color:#444444;
  /*width:50%;*/
  border:none;
  margin:0px;
  text-align:center;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border:none;
  border-radius:0px;
  color:#FFFFFF;
  margin-right:0px;
  font-size:14px !important;
}
.nav-tabs > li > a:hover {
  background-color:#edb311;

}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
 background-color:#edb311;
 color:#ffffff;
 margin:0px;
 border:none;
}
.event_preview_right{
   
}
.inv_preview_bg{
background: url("../images/event_bg.png");
text-align: center;
}
.inv_count_btn{
	height:50px;
	width:50%;
	float:left;
	color:#fff;
	text-align:center;
	font-size:24px;
}
.accept_count_btn{
 background:#8bd92f;
}
.maybe_count_btn{
 background:#fca738;
}
.pending_count_btn{
 background:#555;
}
.pending_count_btn span{
	margin-top:10px;
}
.rejected_count_btn{
 background:#D50E12;
}
.rejected_count_btn span{
	margin-top:10px;
}
.accept_count_btn span{
	margin-top:10px;
}
.maybe_count_btn span{
	margin-top:10px;
	font-weight:bold;
}
.accept_count {
	background:#fff;
	height:50px;
	width:50%;
	float:right;
	text-align:center;
}
.accept_count p{
	margin-top: -10px;
font-size: 10px;
}
.count_btns_margin{
	margin-top:20px;
}
.location_block{
	border:10px solid #fff;
	height:186px;
}
.location_block img{ 
   width:100%;
}
.event_pre_wishlist_block img{
  background:#fff;
}
.event_pre_wishlist{
	border-bottom: 1px solid #bc3804;
margin-top: 20px;
}
.no_margin{
margin-left: 0px;
margin-right: 0px;
}
.comment_block{
	margin-left: 0px;
margin-right: 0px;
background-color: #ffffff;
padding: 10px 0;
border-bottom:1px solid #f1f2f7;
}
.comment_block h5{
  font-size:14px;
  font-weight:bold;
  color:#555;
  margin-top:2px;
}
.comment_block P{
  color:#555;
}
.comment_block_btn{
  padding-top:20px;
}
.comment_block_btn textarea{
	border:1px solid #cfcfcf;
	width:100%;   /*15-12*/
	height:48px;  /*15-12*/
	resize:none;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	outline:none;
	text-indent:20px;
	padding-top:5px;
}
.comment_time{
	font-style:italic;
	color:#555;
}
.comment_btn_post{
}
.accepte_btn{
	background: #8bd92f;
	height:50px;
	border:1px solid #8bd92f;
}
.maybe_btn{
    background: #fca738;
	height:50px;
	border:1px solid #fca738;
}
.rejected_btn{
	background:#D50E12;
	height:50px;
	border:1px solid #D50E12;
}
.btn_addtocart{
	margin-top: 25px;
width: 150px;
background: #8bd92f;
border-color: #8bd92f;
height: 34px;
padding: 6px;
color: #fff;
}
.rec_addlist_title{
	width:300px;
}
.rec_addlist_title_top{
	top:20px;
}
.shopping_cart_wishlist{
	margin-top:40px;
}
.shopping_cart_footer{
	border-top: 1px solid #bbbbbb;
	margin-top:20px;
}
.coupon_input{
width:auto;
}
.btn_checkout{
}
.btn_checkout_update{

}

.billing_tab_active {
background-color: #8bd92f;
width: 90px;
height: 90px;
border-radius: 45px;
padding: 26px;
padding-left: 33px;
font-size: 30px;
color: #fff;
margin: 0 auto;
}
.billing_tab {
background: #cecfd0;
width: 90px;
height: 90px;
border-radius: 45px;
padding: 26px;
padding-left: 32px;
font-size: 30px;
margin: 0 auto;
}
.pay_now_btn{
}
.place_order_right{
	height: 388px;
overflow: auto;

}
.btn_place_order{
	background-color: #ef5323;
margin-top: 25px;
width: 150px;
border-color: #ef5323;
height: 34px;
padding: 6px;
color: #fff;
}
.search_bg{
	width: 100%;
height: 400px;
background: url(../images/bg.jpg);
margin: 0px;
}
.venue_block{
 width: 867px;
margin: 0 auto;
margin-top: 150px;
}
.venue_block h1{
	color:#fff;
}
.venue_src_icon{
	position:absolute; left:460px; top:11px;
	background-color:	transparent;
	border:none;
}
.form_search{
float: left;
display: block;
width: 490px;
height: 40px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.crt_loc {
width: 190px;
float: left;
margin-left: 15px;
}
.adv_search_btn {
float: right;
background: #00AEEF;
height: 40px;
text-align: center;
padding: 8px;
border: none;
}
.adv_search_btn p {
text-decoration: none;
font-size: 18px;
color: #ffffff;
}
.form_adv_search {
display: block;
width: 266px;
height: 38px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.adv_input{
	margin-left: 20px;
	float: left;
}
.venue_bg{
	background:#fff;
}
.venue_slider{
	width: 64%;
	float: left;
}
.venue_right{
	float:right;
	background:#ffffff;
}
.venue_right h4{
	float: left;
}
.venue_right img {
	margin-top: 30px;
}
.venue_right textarea{
border-radius: 6px;
border: 1px solid #c1c1c1;
margin-left: 16px;
}
.venue_right button{
	float: right;
margin-right: 20px;
background: #585858;
border: none;
font-size: 18px;
color: #fff;
border-radius: 6px;
width: 100px;
height: 28px;
}
.venue_tab_margin{
	margin-top:20px;
}

.review_star {
font-weight: bold;
color: #e78f08;
}
.review_star b{
	color:#000;
}
.venue_tab_content{
	width:100%;float:left;background:#fff;margin-top:20px;
}
.quote_btn{
	text-align:center;
	width: 352px;
}
.join_btn{
width: 50px;
background-color: #F7838E;
border:1px solid #D37079;
margin: 0 auto;
text-align: center;
color:#ffffff;
padding:6px 8px;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;

}
.join_btn a{
	text-decoration:none;
	color:#fff !important;
}
.unjoin_btn{
  background-color: #b22222;
  margin: 0 auto;
  text-align: center;
  color:#ffffff;
  padding:6px 8px;
}
.unjoin_btn a{
  text-decoration:none;
  color:#fff !important;
}
.addguest_btn{

background-color: #8bd92f;
margin: 0 auto;
padding:6px 10px;
text-align: center;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
}
.addguest_btn a{
	text-decoration:none;
	color:#fff !important;
}
.writereview_btn{
background-color: #8bd92f;
margin: 0 auto;
text-align: center;
height: 30px;
width: 130px;
padding: 6px;
}
.writereview_btn a{
	text-decoration:none;
	color:#fff;
}
.review_start a:hover{
	color:#e78f08;
}
.event_search {
float: left;
display: block;
width: 600px;
height: 40px;
padding: 6px 12px;
font-size: 18px;
line-height: 1.42857143;
color: #fff;
background:#000;
opacity:0.8;
outline:none;
border: 2px solid #ffffff;
border-radius:30px;
-moz-border-radius:30px;
-webkit-border-radius:30px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.whatsup_src_block{
	width: 600px;
margin: 0 auto;
}
.whatsup_search{
	position:absolute;
	
}
.whatsup_src_icon{
position: absolute;
left: 565px;
top: 12px;
color: #fff;
z-index:1;
background-color:transparent;
border:none;

}

.navbar-toggle {
	background-color:#f1f1fe !important;
}
.nomargin {
	margin-left:0px;
	margin-right:0px;
}
.nomargin_left  {
	margin-left:-15px;
}
.err {
	color:#ef5323;
	font-size:13px;
}
.remove_btn{
  position: absolute;
width: 15px;
height: 15px;
border-radius: 7.5px;
right: 5px;
top: -11px;
text-align: center;
color:#D70003;
font-size: 17px;
font-weight: bold;
cursor:pointer;
}


/*v2 (12-12)*/
#tags {}
.tags_wrap {
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
  min-height:210px;
  overflow:hidden;
  width:100%;
  margin-top:10px;	
}
#tags span.tag{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background-color:#8bd92f;
  padding:5px;
  padding-right:25px;
  margin:4px;
}
#tags span.tag:hover{
  opacity:0.7;
}
#tags span.tag:after{
 position:absolute;
 content:"x";
 border:1px solid;
 padding:0 4px;
 margin:3px 0 10px 5px;
 font-size:10px;
}
#tags input{
  background:#eee;
  border:0; 
  margin:4px;
  padding:7px;
  width:auto;
  background-color:transparent;
  outline:none;
  width:230px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 13px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
/**************************/

/*v1_login_register (12-12)*/
.t_left {
	text-align:left;
}
.errorExplanation {
	padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.errorExplanation h2 {
	font-size:18px;
	margin-top:5px;
	margin-bottom:5px}
.errorExplanation ul {
}
.errorExplanation ul li {
}

.ptop {
	margin-top:10px;
}
.valid_separate a {
	color:#337ab7;
}
/*
.edit_event_btn{
height: 30px;
width: 100%;
float: left;
color: #fff;
background-color:#ef5323;
text-align: center;
font-size: 24px;
}

.edit_event_btn h4{
	margin-top:6px;
}
.event_photos{
width: 100%;
position: relative;
top: -18px;
}

.event_photos_block{
  height:250px; 
}
.event_photos_block img{
  max-height: 200px;
}
.event_photo_prev,.event_photo_next{
  top: 100px;
  width: 30px;
height: 30px;
border-radius: 15px;
background-color: #555;
}
.event_photo_prev{
  left: -72px;
}
.event_photo_next{
  right: -72px;
}*/
.event_template {
	width:450px;
	height:350px;

}

.template1 {
	background-color:#35cdf8;
}
.template2 {
	background-color:#f83570;
}
.template3 {
	background-color:#f88735;
}
.template1 {
	background-color:#fa1d23;
}



/*jquery date picker */

.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}
/********************************************/

/**********jcarasoul slider******/
.gallery {
    max-width: 1000px;
    margin: 0 auto;
	margin-top:0px;
}

.jcarousel-wrapper {
    position: relative;
}

#event_template_designs  .jcarousel-wrapper {
  width:440px;
  position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    /*
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
    width: 100%;
    height:100px;
	top: 20px;
    right: 3px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
	float:left;
}
#event_template_designs .jcarousel li {
  float: left;
  width: 140px;
  /*24/12/2014*/
  margin-right:10px;
  /*24/12/2014*/
  transform: scale(0.15);
  transform-origin: scale top;
  -webkit-transform: scale(0.15);
  -webkit-transform-origin: left top;
  -ms-transform: scale(0.15);
  -ms-transform-origin: left top;
  -moz-transform: scale(0.15);
  -moz-transform-origin: left top;
  cursor: pointer;
}

.jcarousel img {
    max-height: 90px;
    padding: 4px;
}

.jcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50px;
	background-color:#666666;
    text-align: center;
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
	width:20px;
}
.jcarousel-wrapper a {
	color:#ffffff !important;
	padding-bottom:4px;
}

.jcarousel-wrapper a:hover {
	text-decoration:none;
}

.jcarousel-control-prev  {
    left: -10px;
}

.jcarousel-control-next {
    right: 0px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .9;
    cursor: default;
}

.edit_event_btn{
height: 30px;
width: 100%;
float: left;
color: #fff;
background-color:#ef5323;
text-align: center;
font-size: 24px;
}

.edit_event_btn h4{
	margin-top:6px;
}
.event_photos{
width: 100%;
position: relative;
top: -18px;
}

.event_photos_block{
  height:250px; 
}

.event_photos a {
	color:#ffffff !important;
}
.event_photos_block img{
  max-height: 245px;
  width:245px;
}
.event_photo_prev,.event_photo_next{
  top: 100px;
  width: 30px;
height: 30px;
border-radius: 15px;
background-color: #555;
}
.event_photo_prev{
  left: -15px;
  top:130px;
}
.event_photo_next{
  right: -5px;
  top:130px;
}
/*************************/

/*(15/12/2014)*/

/*preset css*/

.ptopbottom {
	padding-top:5px;
	padding-bottom:5px;
}
.ptopbottom_medium {
	padding-top:10px;
	padding-bottom:10px;
}

.ptop_medium {
	padding-top:20px;
}
.mtop70 {
	margin-top:70px;
}
.mtop60 {
	margin-top:60px;
}
.mtop50 {
	margin-top:60px;
}
.mtop40 {
	margin-top:40px;
}
.mtop20 {
	margin-top:20px;
}
.mtop10 {
	margin-top:10px;
}
.mtop30 {
	margin-top:30px;
}
.mtop5 {
	margin-top:5px;
}
.mright5 {
	margin-right:5px;
}
.mright10 {
	margin-right:10px;
}
.mright20 {
	margin-right:20px;
}
.mleft5 {
	margin-left:5px;
}
.mleft10 {
	margin-left:10px;
}
.mbottom50 {
	margin-bottom:50px;
}
.mbottom40 {
	margin-bottom:40px;
}
.mbottom20 {
	margin-bottom:20px;
}
.mbottom10 {
	margin-bottom:10px;
}
.mleft10 {
	margin-left:10px;
}
.txt_center {
	text-align:center;
}
.nopleft{
	padding-left:0px;
}
.nopadding {
	padding-left:0px;
	padding-right:0px;
}
.color_white {
	color:#FFFFFF !important;
}

#endtime {
	display:none
}
.btn_remove_endtime, .btn_add_endtime  {
	font-size:12px;
}
#venue_dform {
	display:none;
}


#large-image {
  position: relative;
  transform: scale(0.5);
  transform-origin: left top 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: left top;
  -ms-transform: scale(0.5);
  -ms-transform-origin: left top;
  -moz-transform: scale(0.5);
  -moz-transform-origin: left top;
  height: 350px;
}

#eventDesignPreview {
  position: relative;
  transform: scale(0.545);
  transform-origin: left top;
  -webkit-transform: scale(0.545);
  -webkit-transform-origin: left top;
  -ms-transform: scale(0.545);
  -ms-transform-origin: left top;
  -moz-transform: scale(0.545);
  -moz-transform-origin: left top;
  height: 350px;
}

#eventDesignPreviewInvitee #eventDesignPreview {
transform: scale(1);
  transform-origin: center top;
  -webkit-transform: scale(1);
  -webkit-transform-origin: center top;
  -ms-transform: scale(1);
  -ms-transform-origin: center top;
  -moz-transform: scale(1);
  -moz-transform-origin: center top;
  height:auto;
  overflow:hidden;
}
#eventDesignPreviewInvitee .eventDesignContainer {
	margin:0 auto;}

.contentplace {
	position:absolute;
	z-index:10;
	color:#ffffff;
	font-size:22px;
	width:450px;
	height:350px;
	/*background-color:#f88735;*/
	
}
.imageplace {
}
.content_info {
	left:50px;
	top:200px;
	position:relative;
}


/*below css for V3 (16-12)*/
.response_inv h2,h3{
	text-align:center;
}
.order_placing h2,h3{
text-align:center;
}
.ccdc_bg{
background-image:url(../images/dc.png);
background-repeat: no-repeat;
margin-left:15px;
margin-top:10px;
width:185px;
height:19px;
float:right;
}
.status_complete_icon {
	color:#93E44A;
	font-size:16px;
	width:25px;
	height:25px;  
	margin-left:12px;
	cursor:pointer;

}
.status_pending_icon {
	color:#de0101;
	font-size:16px;
	width:25px;
	height:25px;  
	margin-left:12px;
	cursor:pointer;
}
.myaccount_wishlist ul {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}
.myaccount_wishlist ul li{
padding:8px 4px;
background-color:#FFFFFF;
border-bottom:1px solid #C8C8C8;
}
.myaccount_wishlist ul li a{
	padding-left:10px;
}
.debitcard_types {
	display:none;
}
#new_event {
	padding-top:10px;
}
.select_myacc_wishlist {
	width:inherit !important;
	margin:inherit !important;
}
.dropdown-menu .divider {
	margin:5px 0;
}

.venue_rating span{
 color: #e78f08;
 font-size:18px;
}
.write_review label{
 color:#555;
}
.write_review span{
 color: #e78f08;
 font-size:18px;
}
.write_review a:hover{
 color:#e78f08;
}
.border_search_result {
border:1px solid #e78f08;
}
.venue_description_height {
	height:100px;
	overflow:hidden;
}
.alert_wrapper {
	position:fixed;
	z-index:1050; 
	margin-left:auto;
	margin-right:auto; 
	top:-60px;
	left:0;
	right:0;
	width:60%;
}
/*added by dinesh */
#infscr-loading {
  position: fixed;
  bottom: 70px;
  left: 43%;
  padding: 9px;
  font-size: 15px;
}

#infscr-loading img {
  width:20px;
  height:20px;
}
/****************/

.text_6{
  width: 40%;
  height: 30px;
}



/*timeline for events*/

#timeline_tabs .event_details{
width: 100%;
height: auto;
overflow:hidden;
background: #fff;
border: 1px solid #cfcfcf;
padding:4px 4px;
margin-top:15px;
cursor:pointer;
}

#timeline_tabs .event_img {
	margin-right:20px;
	float:left;
}

#timeline_tabs .event_img img {
	width:90px;
	height:90px;
}

#timeline_tabs .fade_past {
position:absolute;
width:98.5%;
height:110px;
z-index:100;
background: -moz-linear-gradient(top, rgba(181,181,181,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,181,181,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(181,181,181,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
pointer-events: none;
}

#timeline_tabs .fade_upcoming {
position:absolute;
width:98.5%;
height:225px;
top:228px;
z-index:100;
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(181,181,181,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(181,181,181,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(181,181,181,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(181,181,181,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(181,181,181,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(181,181,181,1) 100%); /* W3C */
pointer-events: none;
}

#timeline_tabs .scroll_timeline {
height:450px;
width:100%; 
overflow:auto;
}

#timeline_tabs .nav-tabs > li {
width:50%;
}
.color_success {
	color:#8bd92f;
}

.btn-success {
	background-color:#8bd92f;
	color:#FFFFFF !important;
}
.btn_add_quantity {
	height:30px;
	padding-top:4px;
}

.loading-indicator {
  position:fixed;
  width:100%;
  z-index:1050;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  left:auto;
  right:auto;
  height:100%;
  background-color:rgba(0,0,0,0.2);
  display:none;
}
.loading-indicator div img {
  width: 28px;
  height: 28px;
}
.loading-indicator div {
  padding:8px;
  background-color:#333333;
  display:inline-block;
  border-radius:40px;
  position:relative;
  top:3%;
}

.latest {
	color:#8bd92f;
}
#timeline_tabs .event_details .latest {
	border:1px solid #8bd92f;
}
.photos_block .picture{
  margin-bottom: 20px;
  width: 24%;
}

.venue_ctc_details{
	list-style-type: none;
	padding-left:0px;
	line-height:1.5;
}
.h3_or{
	margin-top:75px;
}

.text-maybe {
	color:#f0ad4e;
} 
.text-success {
	color:#4cae4c;
} 
.text-info {
  color: #31b0d5;
}
.event_file_upload_button {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.fadein {
    position:relative;
    height:260px;
    width:320px;
}

.fadein img {
    position:absolute;
    left:0;
    top:0;
}
#OrderDetails .orderPurchasedDetails {
	border:1px solid #cccccc;
	margin-top:10px;
}
#delivery .deliveryDetails {
	border:1px solid #cccccc;
	margin-top:10px;
}
.txt_bold {
	font-weight:bold;
}
.orderDetails tr td {
	border:none !important;
}
.scroll_wishlist {
	height:270px;
	overflow-x:hidden;
	overflow-y:auto;
	
}
#wishlist-modal .modal-body a {
 color: #bc3804;
}

/* Facebook */
.fb-icon-bg {
	background: #354f88;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
	float:left;
}

.fb-icon-bg:after {
  content: url(../images/fb-icon-small.png);
  display: block;
  padding: 9px 10px 5px 15px;
}

.fb-bg {
	background: #3b5998;
	display: block;
	height: 37px;
	margin: 0 0 0 41px;
	width: auto; 
	cursor:pointer;
	padding:8px 12px 8px 12px;
	color: #fff;
	float:left;
}

.fb-wrap {
	width:215px;
	margin:20px auto;
	height:auto;
	overflow:hidden;
}
.fb-wrap-loginsmall {
	width:104px;
	height:auto;
	overflow:hidden;
	
	}

.fb_img{
	margin-top:60px;
}
.bg_white {
	background-color:#ffffff;
	padding-bottom:20px;
}
.wishlist_eventpreview {
	font-size:12px !important;
}
.wishlist_eventpreview img {
	width:75px;
}
.icon-success {
	color:#8bd92f;
}
.icon-warning {
	color:#f0ad4e;
}
.icon-black {
	color:#555555;
}
.icon-danger {
	color:#D50E12;
}
.event_wishlist_table {
    width:99%;
    border:1px solid #cccccc;
	padding:0 6px;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 900px;
  height: 643px;
  z-index: 1;
  
}
#f1_container {
  perspective: 1000;
}
#f1_container #f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;

}
/*#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
  
}*/
#f1_container .hover {
	transform: rotateY(180deg);
	border:1px solid #eeeeee;

}
#f1_container .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index:1;
}
#f1_container .face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  z-index:2;
}
#img-preview img{
  height: 240px;
  width: 240px;
}
.picCropArea {
border:1px dashed #cccccc;
width:240px;
height:240px; 
margin:10px auto;
}
#eventDesignPreviewInvitee .event_photos_block img {
width:120px;
height:120px;
}
#eventDesignPreviewInvitee .jcarousel {
 right:-20px;
}
#eventDesignPreviewInvitee .event_photo_prev {
top:65px;
}
#eventDesignPreviewInvitee .event_photo_next {
right:310px;
top:65px;
}
#eventDesignPreviewInvitee .event_photos_block {
height:130px;
width:480px;
}
#eventDesignPreviewInvitee .event_photos {
	top:0px;
	display:none;
}


nav#breadcrumbs { 
  margin: 0 0 0 0;
  padding: 10px;
}
nav#breadcrumbs li {
  float:left;
  list-style-type:none;
  font-weight:bold;
}
nav#breadcrumbs li:last-child {
  font-weight:inherit;
}
.well {
	z-index:10;
}
ul#import_contact_list {
	list-style-type:none;
	margin:0px;
	padding:0px;
	max-height:250px;
	overflow:auto;
}
ul#import_contact_list li {
	list-style-type:none;
	background-color:#f5f5f5;
	margin:6px 0;
	padding:6px 2px 6px 6px;
	border:1px solid #dddddd;
}
.event_wishlist_table .scroll_wishlist_table {
height:240px;
overflow:auto;
overflow-x:hidden;
}
.border_table {
	border:1px solid #cccccc;
}
.italic_style {
font-size:12px;
font-style:italic;
}
.event_preview_right .fb-bg {
  height:34px;
}
.event_img_rotation {
	position:relative;
	width:262px;
	height:260px;
}
.event_img_rotation img {
	position:absolute;
	top:0;
	left:0;
}
.icon_globe {
	font-size:28px;
	padding-top:15px;
}
#changeProfilePic .event_file_upload_button {
  width:0px;
  height:36px;
  width:100%;
  font-size:inherit;
  width:112px;
  left:0;
}
.browse_width {
  width:240px;
}
.btn-gray {
	background-color:#dddddd;
	border:1px solid #cccccc;
	color:#555555 !important;
}
.btn-gray:hover {
	background-color:#bbbbbb;
	
}
ul.notification-list {
list-style-type:none;
margin:0px;
padding:0px;
width:220px;
} 
ul.notification-list li {
padding:6px 2px;
font-size:12px;
border-bottom:1px solid #eeeeee;
}
.time_ago {
	font-size:10px;
	color:#aaaaaa;
}
.badge {
position: relative;
right: -38px;
z-index: 2;
top: -22px;
background-color:#F50900;
}
#NotificationBtn {
	outline:none;
}
.upload_browse_width {
  width: 120px;
  margin: 0 auto;
}

.city_select {
	background-color:transparent;
	background-image:url(../images/select-city-arrow.png);
	background-position:90% center;
	background-repeat:no-repeat;
	-webkit-appearance: none;
    -moz-appearance: none;
	padding-right:30px;
	color:#ffffff;
	border:none;
}

.request_invite {
position:absolute;
right:5px;
top:5px;
}

.list-group-item {
	height:auto;
	overflow:hidden;
}

.navbar-brand img {
	width:220px;
	height:53px;
}
.container_stlye { 
	background-color:#ffffff;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	padding-bottom:30px;
}
.btn-lg {
	border-radius:30px;
}
.border_product_shoppingcart {
	border:1px solid #cccccc;
	padding:10px;
}
.banner-image {
	background-image:url(../images/banner_2.jpg);
	max-width:100%;
	height:550px;
	background-repeat:no-repeat;
	background-size:100%;
}
.btn-lg {
	padding:8px 20px;
}
.homepage_title {
	margin:0px; text-align:center; padding:60px 0; color:#ffffff;
	text-shadow:1px 1px 2px #111111;
}
.light_bg {
	background-color:#f1f1f1;
}
.profile_photo_icon {
	text-align:center; 
	margin-top:60px; 
	color:#cccccc;
	font-size:80px;
}
	
	
	


	
/***************responsive**********************
@media (min-width: 768px) {
 
  .navbar {
    border-radius: 0px;
}
/* .modal-dialog {
    width: 324px;
    margin: 30px auto;
  }*/
  .modal1{
	width:324px;
	margin:30px auto;
}
  .modal2{
	width:629px;
	margin:30px auto;
}
 .modal3{
	width:595px;
	margin:30px auto;
}
.modal5{
	width:1170px;
	margin:30px auto;
}


/***************our responsive**********************/
@media screen and (max-device-width:767px) {
.container {
width:1200px !important;
}
}
 
@media screen 
and (max-device-width : 767px) 
 {
	 .event_img {
		 margin-bottom:20px;
	 }
	 .whatsup_search {
		top:80px;
	}
	.whatsup_src_block { width:380px;}
	.event_search { width: 380px;
	}
  .whatsup_src_icon {
		left:355px;	
}
}

@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.whatsup_search {
		top:140px;
	}
}

@media screen and 
(min-device-width : 320px) 
and (max-device-width : 480px) {
.whatsup_search {
		top:40px;
	}	
	.whatsup_src_block { width:280px;}
	.event_search { width: 280px;
	}
	.whatsup_src_icon {
		left:255px;	
}
}

@media screen and (max-device-width : 479px) 
{
.whatsup_search {
		top:40px;
	}	
	.whatsup_src_block { width:280px;}
	.event_search { width: 280px;
	}
}

