html {
	height:100%;
}
a{
  color:#555;
}
body{
background-color:#f1f2f7;
height:100%;
}

.social_icons{
   padding:20px;
}
.banner_padding {
	padding-left:0px;
	padding-right:0px;
}
#wrapper {
    min-height:100%;
	padding-bottom:25px;
	margin-bottom:-77px;
}
#wrapper:after {
    content: "";
    display: block;
}
.footer, #wrapper:after {
	height:77px;
}
.footer{
	background-color:#0f0f0f;
	border-top:4px solid #ef5323;
}

.thumbnail{
	padding:0px;
	border:none;
	border-radius:0px;
	margin-bottom:0px;
}

.event_name{
/*width:262.5px;*/
width: 100%;  /*changed for responsive*/
height: 50px;
background: rgba(0, 0, 0, 0.8);
}
.event_name p{
color:#fff;
font-size:18px;
padding:12px;
}
.event_details{
 /*width:262.5px;*/
width: 100%;  /*changed for responsive*/
height: auto;
overflow:hidden;
background: #fff;
border: 1px solid #cfcfcf;
padding:4px 0;
}
.event_date{
font-size: 12px;
color: #555;
font-style: italic;
margin: 6px;	
}
.event_place{
 font-size: 12px;
color: #555;
margin: 6px;
margin-top:5px;	
}
.event_margin{
 margin-top:20px;
}
.btn_orange{
 width:294px;
 height:50px;
 background-color:#ef5323;
 margin:0 auto;
 padding:10px;
 margin-top:40px;
}
.create_event{
 text-align:center;
}
.btn_orange a{
	text-decoration:none;
	color:#fff !important;
	font-size:20px;
}
.title_trending{
	position:relative;
	top:46px;
}
.title_bg{
	/*border:1px dotted #555;*/
}
.title_name{
font-size: 24px;
color: #555;
text-align: center;
margin: 20px auto;

}
.navbar-default_2{
	background-color:#fff;
	margin-top:-20px;
	border-bottom: 1px solid #cfcfcf;
}

.navbar-default{
	background-image:url(../images/menu_bg.jpg);
	border-top: 6px solid #edb311;
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:68px;
}
.navbar{
	border:none;
    border-top: 6px solid #edb311;
	border-radius:0px;
}

.navbar-brand{
    padding:10px 15px;
}

.bg_img{
	width:28px;
	height:28px;
	background-color:#ffffff;
	border-radius:14px;
	border:2px solid #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color:#fff;
  background-color: transparent;
  
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color:#fff;
  background-color: transparent;
}
.modal-content{
   border-radius:0px;
   background-color:rgba(0,0,0,.9);
   top:140px;
   opacity:0.9;

}
.main-nav > li > a {
 border-bottom:2px solid transparent;
 transition:border-bottom ease-in 1s;
 }
 
.main-nav > li > a:hover,
.main-nav > li > a:focus {
 
color: #bc3804 !important;
background-color:transparent;
border-bottom:2px solid #bc3804;
}
.main-nav > .active > a,
.main-nav > .active > a:hover,
.main-nav > .active > a:focus {

 color: #bc3804 !important;
 border-bottom:2px solid #bc3804;
}

.top-nav > li > a {
 transition:border-bottom ease-in 1s;
}
 
.top-nav > li > a:hover,
.top-nav > li > a:focus {
 
color: #ffffff !important;
background-color:transparent;
border:none;

}
.top-nav > .active > a,
.top-nav > .active > a:hover,
.top-nav > .active > a:focus {

 color: #333333 !important;
border:none;
}

.modal-title{
	color:#fff;
}
.modal-header{
  border-bottom:none;
}
.modal-footer{
	border-top:none;
}
.modal-body a{
	text-decoration:none;
	color:#fff;
}
.modal_box_x{
	color:#fff;
	margin: 6px;
}

label{
	color:#fff;
	font-weight:normal;
}
.btn{
	border-radius:0px;
}
.btn-primary{
	background-color:#ef5323;
	border-color:#ef5323;
}
.btn-primary{
	color:#FFFFFF !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #ef5323;
  border-color: #ef5323;
}
.modal-body .form-control{
	background-color:transparent;
	border:1px solid #fff;
	border-radius:0px;
	color:#ffffff;
}
.form-control{
	background-color:#FFFFFF;
	border:1px solid #bbbbbb;
	border-radius:0px;
	color:#000000;
}
.modal_wishlist_bg .form-control {
	background-color:#FFFFFF;
	border:1px solid #bbbbbb;
	border-radius:0px;
	color:#000000;}

.reset_modal{
	width:324px;
	margin:0 auto;
}
.reset_top{
	top:25px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  font-size:18px;
}
.create_event_bg{
	background:#fff;
	min-height:580px;
	overflow:hidden;
	padding-bottom:20px;
	padding-top:20px;
}
.event_tab_active{
	background:#E8C11F;
	width:90px;
	height:90px;
	border-radius:45px;
	padding: 26px;
    padding-left: 33px;
    font-size: 30px;
	color:#fff;
	margin:0 auto;
	
}
.event_tab{
	background:#cecfd0;
	width:90px;
	height:90px;
	border-radius:45px;
	padding: 26px;
    padding-left: 32px;
    font-size: 30px;
	margin:0 auto;
	
}
.event_tab_title{
	text-align:center;
	margin:0 auto;
	
}
.event_divider{
	width:4px;
	height:114px;
	background:#cecfd0;
	margin-left:43px;
	margin:0 auto;
	border-bottom:10px solid #f1f2f7;
	
}
.event_left_block{
	border-right:2px solid #cecfd0;
	min-height: 540px;
	overflow:hidden; 
}
.event_right_block{
    min-height: 540px;
	overflow:hidden;  
}

.event_left_block label{
	color:#000;
	margin-top:10px;
}
.event_left_block input{
	border:1px solid #ccc;
}
.event_left_block select{
	border:1px solid #ccc;
}
.event_left_block textarea{
	border:1px solid #ccc;
}

.upload_btn{
	padding:98px;
}
.upload_btn span{
	font-size:50px;
	line-height: 1.5em;
    padding-left: 118px;
}
.upload_btn_skip{
	background:#cfcfcf;
	border-color: #cfcfcf;
	margin-top:70px;
}
.photos_block{
	height:430px;
}
.upload_btn_done{
	background:#8bd92f;
	border-color: #8bd92f;
}
#create_form{
  display:block;
}
#upload_photos{
	display:none;
}
#invitation_without_wishlist{
	display:none;
}
#invitation_with_wishlist{
	display:none;
}
.inv_wishlist{
	border: 1px solid #ccc;
    width: 444px;
    margin: 0px;
}
.inv_wislist_right{
	height:440px;
	overflow:auto;
}
.inv_addmore h4{
	position:relative;
	top:20px;
	left:44px;
}
.create_wishlist_btn{
	width: 200px;
    margin: 0 auto;
}
.wishlist_text{
	margin-top:30px;
}
.wishlist_text h4{
    text-align:center;
	line-height:3em;
	
}
.invite_btn_cancel{
	background:#cfcfcf;
	border-color: #cfcfcf;
}
.wishlist_header{
	margin-top:40px;
}
.wishlist_header input{
	border:1px solid #ccc;
	background:#fff;
	
}
.addwishlist_btn{
	background: #8bd92f;
    border-color: #8bd92f;
	height:34px;
	padding:6px;
}
.search_btn{
	right: 24px;
    top: 10px;
}
.search_btn_count{
	width:28px;
	height:28px;
	background-color:#ffffff;
	border-radius:14px;
	border:2px solid #ffffff;
	top: 3px;
}
.search_btn_count p{
	color:#000;
	
}

.position_rel{
	position:relative;	
}
.position_abs{
	position:absolute;
}
.modal_wishlist_bg{
	background-color:#fff;
}
.modal_wishlist_x{
	color:#555;
	margin:6px;
}
.filter{
	background:#fff;
}
.filter_shop{
	
}
.filter_shop h4{
	font-size:14px;
	font-weight:bold;
    height: 26px;
    padding: 6px;border-bottom: 2px solid #555;
}
.filter_shop ul{
	list-style:none;
	padding-left:8px;
}
.filter_shop ul li {
 padding: 5px 2px;
 border-bottom: 1px solid #eeeeee;
}

.filter_shop ul li input {
margin-right: 4px;
}
.products_list img{
	width:140px;
	padding-top:20px;
}
.products_list a{
	text-decoration:none;
}

.product_block{
	background:#fff;
	text-align:center;
	border:1px solid #cfcfcf;
	height:300px;
}

.product_block h4{
	padding-top:12px;
}
.product_block p{
	padding-top:20px;
}
.product_add_btn{
	width:60px;
	height:60px;
	border-radius:30px;
	background:#ef5323;
	position:absolute;
	bottom: -30px;
    left: 115px;
	text-align:center;
}
.product_added_btn{
	width:60px;
	height:60px;
	border-radius:30px;
	background:#8bd92f;
	position:absolute;
	bottom: -30px;
    left: 115px;
	text-align:center;
}
.product_add_btn span{
	font-size:25px;
	top:16px;
	color:#fff;
}
.product_added_btn span{
	font-size:25px;
	top:16px;
	color:#fff;
}
.model_box_name{
font-size: 20px;
color: #555;
background: #fff;
position: relative;
padding: 3px 7px;
text-align: center;
top: -22px;
margin: 0 auto;
width: 225px;
}
.wishlist_popup_header{
	border-bottom:1px solid #bc3804;
}
.wishlist_popup_center{
	margin-top:20px;
}
.wishlist_popup_center img{
	width:110px;
	padding:10px;
	border: 1px solid #cfcfcf;
	background: #fff;
}
.wishlist_popup_center select{
	margin: 10px;
width: 50px;
}
.wishlist_popup_center span{
	color:red;
	margin: 10px;
}
.wishlist_img_block{
text-align:center;
}
.wishlist_popup_footer{
border-top:1px solid #bc3804;
margin-top:20px;

}
.wishlist_add_btn{
	width: 40px;
height: 40px;
border-radius: 20px;
background: #ef5323;
text-align:center;
margin-top:20px;
position:absolute;
}
.wishlist_add_btn span{
	color:#fff;
	font-size:20px;
	margin-top:8px;
}
.wishlist_popup_footer h4{
	position: relative;
left: 48px;
top: 22px;
}
.wishlist_popup_footer a{
	color:#555;
}
.addwishlist_done{
	margin-top:25px;
	width:150px;
	background: #8bd92f;
    border-color: #8bd92f;
	height:34px;
	padding:6px;
	color:#fff;
}
.shipping_address_form label{
	color:#000;
	line-height:2em;
}
.shipping_address_form input{
	background-color: transparent;
border: 1px solid #ccc;
}
.shipping_address_form select{
	background-color: transparent;
border: 1px solid #ccc;
}
.product_view_big{
	width:350px;
	height:400px;
	background:#fff;
	border:1px solid #ccc;
	text-align:center;
	margin:0 auto;
}   
.product_view_big img{
	margin-top:100px;
}
.product_view_thumb{
	width: 320px;
    margin:0 auto;
}
.product_view_thumb img{
	width:90px;
	margin-top: 12px;
	border:1px solid #ccc;
}
.product_details h4{
	color:#bc3804;
}
	
.add_qty_btn{
	width:250px;
	height:40px;
	background: #8bd92f;
border-color: #8bd92f;
}
.nav-tabs {
  border-bottom: 3px solid #edb311;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  background-color:#444444;

   border:none;
   margin:0px;
     margin-right:5px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border:none;
  border-radius:0px;
  color:#FFFFFF;
  margin-right:0px;
  font-size:14px !important;
}
.nav-tabs > li > a:hover {
  background-color:#edb311;

}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
 background-color:#edb311;
 color:#ffffff;
 margin:0px;
 border:none;
}
.event_preview_right{
   
}
.inv_preview_bg{
background: url("../images/event_bg.png");
text-align: center;
}
.inv_count_btn{
	height:50px;
	width:50%;
	float:left;
	color:#fff;
	text-align:center;
	font-size:24px;
}
.accept_count_btn{
 background:#8bd92f;
}
.maybe_count_btn{
 background:#fca738;
}
.pending_count_btn{
 background:#555;
}
.pending_count_btn span{
	margin-top:10px;
}
.rejected_count_btn{
 background:#D50E12;
}
.rejected_count_btn span{
	margin-top:10px;
}
.accept_count_btn span{
	margin-top:10px;
}
.maybe_count_btn span{
	margin-top:10px;
	font-weight:bold;
}
.accept_count {
	background:#fff;
	height:50px;
	width:50%;
	float:right;
	text-align:center;
}
.accept_count p{
	margin-top: -10px;
font-size: 10px;
}
.count_btns_margin{
	margin-top:20px;
}
.location_block{
	border:10px solid #fff;
	height:186px;
}
.location_block img{ 
   width:100%;
}
.event_pre_wishlist_block img{
  background:#fff;
}
.event_pre_wishlist{
	border-bottom: 1px solid #bc3804;
margin-top: 20px;
}
.no_margin{
margin-left: 0px;
margin-right: 0px;
}
.comment_block{
	margin-left: 0px;
margin-right: 0px;
background-color: #ffffff;
padding: 10px 0;
border-bottom:1px solid #f1f2f7;
}
.comment_block h5{
  font-size:14px;
  font-weight:bold;
  color:#555;
  margin-top:2px;
}
.comment_block P{
  color:#555;
}
.comment_block_btn{
  padding-top:20px;
}
.comment_block_btn textarea{
	border:1px solid #cfcfcf;
	width:100%;   /*15-12*/
	height:48px;  /*15-12*/
}
.comment_time{
	font-style:italic;
	color:#555;
}
.comment_btn_post{
	background: #8bd92f;
border-color: #8bd92f;
height: 45px;
padding: 6px;
color: #fff;
font-size:22px;
}
.accepte_btn{
	background: #8bd92f;
	height:50px;
	border:1px solid #8bd92f;
}
.maybe_btn{
    background: #fca738;
	height:50px;
	border:1px solid #fca738;
}
.rejected_btn{
	background:#D50E12;
	height:50px;
	border:1px solid #D50E12;
}
.btn_addtocart{
	margin-top: 25px;
width: 150px;
background: #8bd92f;
border-color: #8bd92f;
height: 34px;
padding: 6px;
color: #fff;
}
.rec_addlist_title{
	width:300px;
}
.rec_addlist_title_top{
	top:20px;
}
.shopping_cart_wishlist{
	margin-top:40px;
}
.shopping_cart_footer{
	border-top: 1px solid #bc3804;
	margin-top:20px;
}
.coupon_input{
	margin-top: 25px;
background: #fff;
border:1px solid #cfcfcf;
}
.btn_checkout{
	margin-top: 25px;
width: 150px;
background: #8bd92f;
border-color: #8bd92f;
height: 34px;
padding: 6px;
color: #fff;
}
.btn_checkout_update{
   background-color: #ef5323;
   margin-top: 25px;
width: 150px;
border-color: #ef5323;
height: 34px;
padding: 6px;
color: #fff;
}

.billing_tab_active {
background: #E8C11F;
width: 90px;
height: 90px;
border-radius: 45px;
padding: 26px;
padding-left: 33px;
font-size: 30px;
color: #fff;
margin: 0 auto;
}
.billing_tab {
background: #cecfd0;
width: 90px;
height: 90px;
border-radius: 45px;
padding: 26px;
padding-left: 32px;
font-size: 30px;
margin: 0 auto;
}
#create_billing_address{
	display:none;
}
#payment_method{
   display:block;
}

#place_order{
	display:none;
}
.pay_now_btn{
background: #8bd92f;
border-color: #8bd92f;
}
.place_order_right{
	height: 388px;
overflow: auto;

}
.btn_place_order{
	background-color: #ef5323;
margin-top: 25px;
width: 150px;
border-color: #ef5323;
height: 34px;
padding: 6px;
color: #fff;
}
.search_bg{
	width: 100%;
height: 400px;
background: url(../images/bg.jpg);
margin: 0px;
}
.venue_block{
 width: 867px;
margin: 0 auto;
margin-top: 150px;
}
.venue_block h1{
	color:#fff;
}
.venue_src_icon{
	position:absolute; left:465px; top:14px;
}
.form_search{
float: left;
display: block;
width: 490px;
height: 40px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.crt_loc {
width: 190px;
float: left;
margin-left: 15px;
}
.adv_search_btn {
float: right;
background: #00AEEF;
height: 40px;
text-align: center;
padding: 8px;
border: none;
}
.adv_search_btn p {
text-decoration: none;
font-size: 18px;
color: #ffffff;
}
.form_adv_search {
display: block;
width: 266px;
height: 38px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.adv_input{
	margin-left: 20px;
	float: left;
}
.venue_bg{
	background:#fff;
}
.venue_slider{
	width: 50%;
	float: left;
}
.venue_right{
	width:48%;
	float:right;
	border-radius:6px;
	background:#fff;
	height:424px;
}
.venue_right h4{
	float: left;
}
.venue_right img {
	margin-top: 30px;
}
.venue_right textarea{
border-radius: 6px;
border: 1px solid #c1c1c1;
margin-left: 16px;
}
.venue_right button{
	float: right;
margin-right: 20px;
background: #585858;
border: none;
font-size: 18px;
color: #fff;
border-radius: 6px;
width: 100px;
height: 28px;
}
.venue_tab_margin{
	margin-top:20px;
}

.review_star {
font-weight: bold;
color: #e78f08;
}
.review_star b{
	color:#000;
}
.venue_tab_content{
	width:100%;float:left;background:#fff;margin-top:20px;
}
.quote_btn{
	text-align:center;
	width: 352px;
}
.join_btn{
width: 50px;
background-color: #ef5323;
margin: 0 auto;
text-align: center;
color:#ffffff;
padding:6px 8px;
}
.join_btn a{
	text-decoration:none;
	color:#fff !important;
}
.addguest_btn{

background-color: #8bd92f;
margin: 0 auto;
padding:6px 10px;
text-align: center;
}
.addguest_btn a{
	text-decoration:none;
	color:#fff !important;
}
.writereview_btn{
background-color: #8bd92f;
margin: 0 auto;
text-align: center;
height: 30px;
width: 130px;
padding: 6px;
}
.writereview_btn a{
	text-decoration:none;
	color:#fff;
}
.review_start a:hover{
	color:#e78f08;
}
.event_search {
float: left;
display: block;
width: 600px;
height: 40px;
padding: 6px 12px;
font-size: 18px;
line-height: 1.42857143;
color: #fff;
background:#000;
opacity:0.8;
border: 1px solid #ccc;

-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.whatsup_src_block{
	width: 600px;
margin: 0 auto
}
.whatsup_search{
	position:absolute;top:240px;
}
.whatsup_src_icon{
	position:absolute; left: 578px;
top: 14px;
color: #fff;
}

.navbar-toggle {
	background-color:#f1f1fe !important;
}
.nomargin {
	margin-left:0px;
	margin-right:0px;
}
.nomargin_left  {
	margin-left:-15px;
}
.err {
	color:#ef5323;
	font-size:13px;
}
.remove_btn{
  position: absolute;
width: 15px;
height: 15px;
border-radius: 7.5px;
right: 5px;
top: -11px;
text-align: center;
color:#D70003;
font-size: 17px;
font-weight: bold;
cursor:pointer;
}


/*v2 (12-12)*/
#tags {}
.tags_wrap {
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
  min-height:240px;
  overflow:hidden;
  width:100%;
  margin-top:20px;	
}
#tags span.tag{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background-color:#8bd92f;
  padding:5px;
  padding-right:25px;
  margin:4px;
}
#tags span.tag:hover{
  opacity:0.7;
}
#tags span.tag:after{
 position:absolute;
 content:"x";
 border:1px solid;
 padding:0 4px;
 margin:3px 0 10px 5px;
 font-size:10px;
}
#tags input{
  background:#eee;
  border:0; 
  margin:4px;
  padding:7px;
  width:auto;
  background-color:transparent;
  outline:none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 13px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
/**************************/

/*v1_login_register (12-12)*/
.t_left {
	text-align:left;
}
.errorExplanation {
	padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.errorExplanation h2 {
	font-size:18px;
	margin-top:5px;
	margin-bottom:5px}
.errorExplanation ul {
}
.errorExplanation ul li {
}

.ptop {
	margin-top:10px;
}
.valid_separate a {
	color:#337ab7;
}
.edit_event_btn{
height: 30px;
width: 100%;
float: left;
color: #fff;
background-color:#ef5323;
text-align: center;
font-size: 24px;
}

.edit_event_btn h4{
	margin-top:6px;
}
.event_photos{
width: 100%;
position: relative;
top: -18px;
}

.event_photos_block{
  height:250px; 
}
.event_photos_block img{
  max-height: 200px;
}
.event_photo_prev,.event_photo_next{
  top: 100px;
  width: 30px;
height: 30px;
border-radius: 15px;
background-color: #555;
}
.event_photo_prev{
  left: -72px;
}
.event_photo_next{
  right: -72px;
}
.event_template {
	width:450px;
	height:350px;

}

.template1 {
	background-color:#35cdf8;
}
.template2 {
	background-color:#f83570;
}
.template3 {
	background-color:#f88735;
}
.template1 {
	background-color:#fa1d23;
}



/*jquery date picker */

.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}
/********************************************/

/**********jcarasoul slider******/
.gallery {
    max-width: 1000px;
    margin: 0 auto;
	margin-top:0px;
}

.jcarousel-wrapper {
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    /*
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
    width: 100%;
    height:100px;
	top: 20px;
    right: 3px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel img {
    max-height: 90px;
    padding: 4px;
}

.jcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50px;
	background-color:#666666;
    text-align: center;
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
	width:20px;
}
.jcarousel-wrapper a {
	color:#ffffff !important;
	padding-bottom:4px;
}

.jcarousel-wrapper a:hover {
	text-decoration:none;
}

.jcarousel-control-prev  {
    left: -10px;
}

.jcarousel-control-next {
    right: 0px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .9;
    cursor: default;
}

.edit_event_btn{
height: 30px;
width: 100%;
float: left;
color: #fff;
background-color:#ef5323;
text-align: center;
font-size: 24px;
}

.edit_event_btn h4{
	margin-top:6px;
}
.event_photos{
width: 100%;
position: relative;
top: -18px;
}

.event_photos_block{
  height:250px; 
}

.event_photos a {
	color:#ffffff !important;
}
.event_photos_block img{
  max-height: 200px;
}
.event_photo_prev,.event_photo_next{
  top: 100px;
  width: 30px;
height: 30px;
border-radius: 15px;
background-color: #555;
}
.event_photo_prev{
  left: -72px;
}
.event_photo_next{
  right: -72px;
}
/*************************/

/*(15/12/2014)*/

/*preset css*/

.ptopbottom {
	padding-top:5px;
	padding-bottom:5px;
}
.ptopbottom_medium {
	padding-top:10px;
	padding-bottom:10px;
}

.ptop_medium {
	padding-top:20px;
}
.mtop40 {
	margin-top:40px;
}
.mtop20 {
	margin-top:20px;
}
.mtop10 {
	margin-top:10px;
}
.mbottom40 {
	margin-bottom:40px;
}
.mbottom20 {
	margin-bottom:20px;
}
.mbottom10 {
	margin-bottom:10px;
}
.txt_center {
	text-align:center;
}
.nopleft{
	padding-left:0px;
}
.color_white {
	color:#FFFFFF !important;
}

#endtime {
	display:none
}
.btn_remove_endtime, .btn_add_endtime  {
	font-size:12px;
}
#venue_dform {
	display:none;
}


#large-image {
	position:relative;
	
}
.contentplace {
	position:absolute;
	z-index:10;
	color:#ffffff;
	font-size:22px;
	width:450px;
	height:350px;
	/*background-color:#f88735;*/
	
}
.imageplace {
}
.content_info {
	left:50px;
	top:200px;
	position:relative;
}


/*below css for V3 (16-12)*/
.response_inv h2,h3{
	text-align:center;
}
.order_placing h2,h3{
text-align:center;
}
.ccdc_bg{
background-image:url(../images/dc.png);
background-repeat: no-repeat;
margin-left:15px;
margin-top:10px;
width:185px;
height:19px;
float:right;
}
.status_complete_icon {
	color:#93E44A;
	font-size:16px;
	width:25px;
	height:25px;  
	margin-left:12px;
	cursor:pointer;

}
.status_pending_icon {
	color:#de0101;
	font-size:16px;
	width:25px;
	height:25px;  
	margin-left:12px;
	cursor:pointer;
}
.myaccount_wishlist ul {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}
.myaccount_wishlist ul li{
padding:8px 4px;
background-color:#FFFFFF;
border-bottom:1px solid #C8C8C8;
}
.myaccount_wishlist ul li a{
	padding-left:10px;
}
.debitcard_types {
	display:none;
}
#new_event {
	padding-top:40px;
}
.select_myacc_wishlist {
	width:inherit !important;
	margin:inherit !important;
}
.dropdown-menu .divider {
	margin:5px 0;
}

.venue_rating span{
 color: #e78f08;
 font-size:18px;
}
.write_review label{
 color:#555;
}
.write_review span{
 color: #e78f08;
 font-size:18px;
}
.write_review a:hover{
 color:#e78f08;
}
.border_search_result {
border:1px solid #e78f08;
}
.venue_description_height {
	height:100px;
	overflow:hidden;
}
.alert_wrapper {
	position:fixed;
	z-index:10; 
	margin-left:auto;
	margin-right:auto; 
	top:-60px;
	left:0;
	right:0;
	width:50%;
}
/*added by dinesh */
#infscr-loading {
  text-align: center;
}
#infscr-loading img {
  width:20px;
  height:20px;
}
/****************/
.text_6{
	width: 50%;
height: 30px;
}




/***************responsive**********************/
@media (min-width: 768px) {
 
  .navbar {
    border-radius: 0px;
}
  .modal-dialog {
    width: 324px;
    margin: 30px auto;
  }
  .modal2{
	width:629px;
	margin: 0 auto;
}
 .modal3{
	width:595px;
	margin: 0 auto;
}
.modal5{
	width:1170px;
	margin:0 auto;
}
}

/***************our responsive**********************/

@media screen 
and (max-device-width : 767px) 
 {
	 .event_img {
		 margin-bottom:20px;
	 }
	 .whatsup_search {
		top:80px;
	}
	.whatsup_src_block { width:380px;}
	.event_search { width: 380px;
	}
  .whatsup_src_icon {
		left:355px;	
}
}

@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.whatsup_search {
		top:140px;
	}
}

@media screen and 
(min-device-width : 320px) 
and (max-device-width : 480px) {
.whatsup_search {
		top:40px;
	}	
	.whatsup_src_block { width:280px;}
	.event_search { width: 280px;
	}
	.whatsup_src_icon {
		left:255px;	
}
}

@media screen and (max-device-width : 479px) 
{
.whatsup_search {
		top:40px;
	}	
	.whatsup_src_block { width:280px;}
	.event_search { width: 280px;
	}
}

